ACTION=="add|change", KERNEL=="event*", ATTRS{name}=="Wacom HID 5365 Pen", ENV{LIBINPUT_IGNORE_DEVICE}="1"
ACTION=="add|change", KERNEL=="event*", ATTRS{name}=="Wacom HID 5365 Finger", ENV{LIBINPUT_IGNORE_DEVICE}="1"
